<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium"><%= t "activerecord.attributes.post.title" %></strong>
    <%= post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium"> <%= t "activerecord.attributes.post.description" %></strong>
    <% unless post.description.blank? %>
      <span><%= post.description %></span>
    <% else %>
      <span class="italic"><%= t "posts.show.description.empty" %> </span>
    <% end %>
  </p>

  <p><strong> <%= t "activerecord.attributes.post.image" %></strong></p>
  <%= image_tag post.image.url %>
</div>
